body {
    margin: 0;
    background-color: blue;
}

#main-window-logIn {
    border-width: 3px;
    display: inline-block;
    background-color: rgb(255, 255, 255);
    position: relative;
    top: 145px;
    left: 500px;
    height: 460px;
    width: 358px;
    padding-left: 90px;
    padding-bottom: 90px;
    border-radius: 20px;
}

#heading-login {
    position: relative;
    font-size: 24px;
    color: rgb(4, 4, 149);
    font-family: 'Trebuchet MS', sans-serif;
    left: 65px;
}

#userTxt {
    font-size: 17px;
    position: relative;
    top: 30px;
    right: 50px;
}

#inputUser {
    position: relative;
    top: 15px;
    right: 50px;
    height: 30px;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 367px;
}

#inputPassword {
    position: relative;
    top: 15px;
    right: 50px;
    height: 30px;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 367px;
}

#passwordTxt {
    font-size: 17px;
    position: relative;
    top: 30px;
    right: 50px;
}

#forget {
    position: relative;
    top: 30px;
    right: 50px;
}

#Sign-in {
    position: relative;
    top: 67px;
    width: 367px;
    right: 47px;
    height: 40px;
    border-radius: 30px;
    background-color: rgb(4, 4, 149);
    color: white;
    border: none;
    border-style: solid;
    font-size: 13px;
    cursor: pointer;
}

#dont-have-account {
    position: relative;
    top: 90px;
    left: 20px;
}

#sign-up-loginPage {
    position: relative;
    top: 55px;
    left: 180px;
}