body {
    margin: 0;
    background-color: blue;
}

#main-window-signUp {
    border-width: 3px;
    display: inline-block;
    background-color: rgb(255, 255, 255);
    position: relative;
    top: 145px;
    left: 500px;
    height: 460px;
    width: 358px;
    padding-left: 90px;
    padding-bottom: 90px;
    border-radius: 20px;
}

#heading-signup {
    position: relative;
    font-size: 24px;
    color: rgb(4, 4, 149);
    font-family: 'Trebuchet MS', sans-serif;
    left: 45px;
}

.details-signup2 {
    position: relative;
    right: 50px;
    height: 30px;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 367px;
    margin-top: 20px;
    font-size: 15px;
}

.Sign-up {
    position: relative;
    top: 40px;
    width: 367px;
    right: 47px;
    height: 40px;
    border-radius: 30px;
    background-color: rgb(4, 4, 149);
    color: white;
    border: none;
    border-style: solid;
    font-size: 13px;
    cursor: pointer;
}

#Member- {
    position: relative;
    top: 70px;
    left: 20px;
}

#member-login {
    position: relative;
    top: 34px;
    left: 160px;
}