body {
    margin: 0;
    background-color: blue;
}

#main-window-signUp {
    border-width: 3px;
    display: inline-block;
    background-color: rgb(255, 255, 255);
    position: relative;
    top: 300px;
    left: 1000px;
    height: 1000px;
    width: 800px;
    padding-left: 90px;
    padding-bottom: 90px;
    border-radius: 20px;
}

#heading-signup {
    position: relative;
    left: 170px;
    font-size: 50px;
    color: rgb(4, 4, 149);
    font-family: 'Trebuchet MS', sans-serif;
}

.details-signup2 {
    position: relative;
    top: 30px;
    height: 50px;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 680px;
    margin-top: 60px;
    font-size: 25px;
}

#Member- {
    position: relative;
    top: 240px;
    left: 220px;
}

#member-login {
    position: relative;
    top: 200px;
    left: 400px;
}

.Sign-up {
    position: relative;
    top: 50px;
    width: 680px;
    height: 70px;
    border-radius: 30px;
    background-color: rgb(4, 4, 149);
    color: white;
    border: none;
    border-style: solid;
    font-size: 13px;
}